* {
    --beige-color: #ddd0c8;
    --cream: #e8e3d6;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 630px;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 25px;

    min-width: 550px;
    width: 100%;
    height: max(300px, 100vh);

    background-color: var(--cream);

    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 15% 0 7%;
    border-bottom: 3px solid black;
    gap: 30px;
    background-color: var(--beige-color);
    min-width: 550px;
}

.title {
    display: flex;
    align-self: center;
    font-size: larger;
    min-width: 332px;
}

.log {
    border-left: 3px solid black;
    border-right: 3px solid black;
    height: 100%;
    padding: 0 50px 0 15px;
    min-width: 222px;
}

.add-book {
    display: flex;
    justify-content: center;
    align-content: center;

    position: absolute;
    bottom: 5%;
    right: 3%;
}

.add-book button {
    background: none;
    border: none;

    cursor: pointer;
}

.add-book button:hover {
    transform: scale(1.05);
}

.add-book button:active {
    transform: scale(1);
}

.add-icon {
    filter: invert(99%) sepia(99%) saturate(711%) hue-rotate(299deg)
        brightness(78%) contrast(93%);
}

/** Book Form */
form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    gap: 20px;
    font-size: 20px;

    width: 400px;
}

.bookform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    height: max(400px, 50%);
    border-radius: 25px;

    background-color: white;
    padding: 30px;
}

.bookform h1 {
    margin: 0 auto;
    margin-bottom: 40px;
}

form button {
    width: 150px;
    margin: 0 auto;
}

form div {
    display: grid;
    grid-template: 1fr / 110px 1fr;
    gap: 20px;
    
}

form div input {
    width: 15rem;
}

input[type='number'] {
    width: 11ch;
}

fieldset {
    display: flex;
    gap: 20px
}